{
    box-sizing: border-box;
    font-family: Raleway;
    color: #777
}


html, body {
    margin: 0%;
    padding: 0;
}

.nav-ul{
    margin: 0;

}

.nav-li {
    display: inline;
}

.nav-a {
    display: inline;
    padding: 5em;
    color: white;
    text-decoration: none;
}

 
}
.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}
.main-header{
    background-image: url("images/img-h-2.jpg"); 
    background-size: cover;
    padding-bottom: 30px;
    box-sizing: border-box;
    font-family: Raleway;
    color: #ffffff
    
    
} 

.section {
    color: #777777
    
}